body {
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #341247;
  margin: 0;
}

form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 300px;
  width: 100%;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  font-size: 1rem;
}

button {
  background-color: #341247;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #4e1f6e;
}

#result {
  margin-top: 10px;
  font-weight: bold;
}
